<a href="https://colab.research.google.com/github/A-THAKUR22/AVISOFTAT/blob/main/Assignment15_15_2_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Impute / Replace Missing Values with median because The median is usually preferred with outliers than mean -Replace missing values in SCHOOL_TYPE with the most frequent value -change type of OPEN_DATE column

In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv('la_jobs.csv')
df=pd.DataFrame(data)
df

,Unnamed: 0,FILE_NAME,JOB_CLASS_TITLE,JOB_CLASS_NO,REQUIREMENT_SET_ID,REQUIREMENT_SUBSET_ID,JOB_DUTIES,EDUCATION_YEARS,SCHOOL_TYPE,EDUCATION_MAJOR,...,DRIVERS_LICENSE_REQ,DRIV_LIC_TYPE,ADDTL_LIC,EXAM_TYPE,ENTRY_SALARY_GEN,ENTRY_SALARY_DWP,OPEN_DATE,REQUIREMENT_SET_TEXT,REQUIREMENT_SUBSET_TEXT,REQUIREMENT_CONJUNCTION
0,0,311 DIRECTOR 9206 041814.txt,311 Director,9206,1.0,-,A 311 Director is responsible for the successf...,-,-,-,...,-,-,-,OPEN_INT_PROM,"$125,175 to $155,514",-,04-18-14,One year of full-time paid experience as a Sen...,-,or
1,1,311 DIRECTOR 9206 041814.txt,311 Director,9206,2.0,-,A 311 Director is responsible for the successf...,-,college or university,-,...,-,-,-,OPEN_INT_PROM,"$125,175 to $155,514",-,04-18-14,A Bachelor's degree from a recognized college ...,-,or
2,2,311 DIRECTOR 9206 041814.txt,311 Director,9206,3.0,-,A 311 Director is responsible for the successf...,-,-,-,...,-,-,-,OPEN_INT_PROM,"$125,175 to $155,514",-,04-18-14,Eight years of full-time paid experience in a ...,-,-
3,3,ACCOUNTANT 1513 062218.txt,Accountant,1513,1.0,-,An Accountant does professional accounting wor...,4.0,college or university,-,...,P,-,-,OPEN,"$49,903 to $72,996",-,06-22-18,Graduation from an accredited four-year colleg...,-,-
4,4,ACCOUNTING CLERK 1223 071318.txt,Accounting Clerk,1223,1.0,-,An Accounting Clerk performs difficult and res...,-,trade school or university,-,...,-,-,-,OPEN_INT_PROM,"$49,005 to $71,618",-,07-13-18,Two years of full-time paid office clerical ex...,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369,1369,ZOO CURATOR OF EDUCATION 4300 091418.txt,Zoo Curator Of Education,4300,1.0,-,"A Zoo Curator of Education plans, develops, im...",4.0,college or university,-,...,P,-,-,OPEN_INT_PROM,"$57,628 to $84,229",-,09-14-18,Graduation from an accredited four-year colleg...,-,or
1370,1370,ZOO CURATOR OF EDUCATION 4300 091418.txt,Zoo Curator Of Education,4300,2.0,-,"A Zoo Curator of Education plans, develops, im...",-,-,-,...,P,-,-,OPEN_INT_PROM,"$57,628 to $84,229",-,09-14-18,Current employment with the City of Los Angele...,-,-
1371,1371,ZOO REGISTRAR 4290 070618.txt,Zoo Registrar,4290,1.0,-,A Zoo Registrar assists in the development and...,4.0,college or university,"zoology, biology",...,-,-,-,OPEN_INT_PROM,"$55,666 to $81,390",-,07-06-18,Graduation from an accredited four-year colleg...,-,or
1372,1372,ZOO REGISTRAR 4290 070618.txt,Zoo Registrar,4290,2.0,-,A Zoo Registrar assists in the development and...,-,-,-,...,-,-,-,OPEN_INT_PROM,"$55,666 to $81,390",-,07-06-18,Two years of full-time paid experience supervi...,-,or
1373,1373,ZOO REGISTRAR 4290 070618.txt,Zoo Registrar,4290,3.0,-,A Zoo Registrar assists in the development and...,-,-,-,...,-,-,-,OPEN_INT_PROM,"$55,666 to $81,390",-,07-06-18,Two years of full-time paid experience perform...,-,-

In [2]:

df['REQUIREMENT_SUBSET_ID']=df['REQUIREMENT_SUBSET_ID'].replace('-',value='a')
df['REQUIREMENT_SUBSET_ID']
df['REQUIREMENT_SUBSET_ID'].value_counts()

a    1300
b      38
c      14
d       9
e       7
f       2
i       2
g       1
h       1
Name: REQUIREMENT_SUBSET_ID, dtype: int64

In [3]:
df['EDUCATION_YEARS']=df['EDUCATION_YEARS'].replace('-',np.nan)
med=df['EDUCATION_YEARS'].median()
df['EDUCATION_YEARS']=df['EDUCATION_YEARS'].replace(np.nan,med)
df['EDUCATION_YEARS']
df['EDUCATION_YEARS'].value_counts()

4.0    1218
4.0     145
1.0       9
2.0       2
Name: EDUCATION_YEARS, dtype: int64

In [4]:
#Since the most frequent value in SCHOOL_TYPE column was college or university we replaced '-' with the latter
df['SCHOOL_TYPE']=df['SCHOOL_TYPE'].replace('-',value='college or university')
df['SCHOOL_TYPE']
df['SCHOOL_TYPE'].value_counts()

college or university                                1270
apprenticeship                                         38
trade school|college                                   18
college                                                16
trade school or university                              7
high school                                             7
high school|college                                     6
high school|trade school                                2
technical school|college                                2
high school|technical school|college                    2
law school                                              2
technical school|high school|trade school|college       1
technical school|trade school|college                   1
technical school                                        1
trade school                                            1
Name: SCHOOL_TYPE, dtype: int64

In [5]:
df['EDUCATION_MAJOR']=df['EDUCATION_MAJOR'].replace('-',value='engineering')
df['EDUCATION_MAJOR']
df['EDUCATION_MAJOR'].value_counts()

engineering                                                                                     1300
urban planning, urban studies, urban design, architecture, landscape architecture, geography       3
accounting                                                                                         2
industrial technology, industrial science or special degree program                                2
industrial/organizational psychology or psychometrics                                              2
                                                                                                ...
journalism, english, public relations, or communications                                           1
architecture, architectural engineering, environmental design, or building science                 1
life science or education teaching credential                                                      1
life science                                                                                       1
landscape architecture                                                                             1
Name: EDUCATION_MAJOR, Length: 64, dtype: int64

In [6]:
df['EXPERIENCE_LENGTH']=df['EXPERIENCE_LENGTH'].replace('-',np.nan)
med=df['EXPERIENCE_LENGTH'].median()
df['EXPERIENCE_LENGTH']=df['EXPERIENCE_LENGTH'].replace(np.nan,med)
df['EXPERIENCE_LENGTH']
df['EXPERIENCE_LENGTH'].value_counts()

2.0     460
2.0     408
4.0     157
1.0     115
3.0     115
5.0      41
0.5      27
6.0      27
1.5       9
8.0       5
7.0       3
0.67      2
9.0       2
12.0      1
2.5       1
0.25      1
Name: EXPERIENCE_LENGTH, dtype: int64

In [7]:
#df['OPEN_DATE'].value_counts()
#index_pr=df[df['OPEN_DATE']=='-'].index
#print(df.loc[index_pr])
df['OPEN_DATE']=df['OPEN_DATE'].replace({'-': '04-18-14'})
df['OPEN_DATE']=pd.to_datetime(df['OPEN_DATE'])
df['OPEN_DATE'].value_counts()

2018-09-28    24
2017-01-20    24
2018-11-16    21
2017-04-07    19
2018-11-30    18
              ..
2018-07-13     1
2014-03-07     1
2018-01-05     1
2015-01-30     1
2008-10-17     1
Name: OPEN_DATE, Length: 223, dtype: int64

A non-experienced job seeker wants to know what is the best job for him?

In [8]:
df['EXP_JOB_CLASS_TITLE']=df['EXP_JOB_CLASS_TITLE'].replace('-',value='Professional Engineer')
df['EXP_JOB_CLASS_TITLE'].value_counts()
Experience=['EXPERIENCE_LENGTH','REQUIREMENT_SET_TEXT']
df_job_experience=df[Experience]
print(df_job_experience)

     EXPERIENCE_LENGTH                               REQUIREMENT_SET_TEXT
0                  1.0  One year of full-time paid experience as a Sen...
1                  4.0  A Bachelor's degree from a recognized college ...
2                  8.0  Eight years of full-time paid experience in a ...
3                  2.0  Graduation from an accredited four-year colleg...
4                  2.0  Two years of full-time paid office clerical ex...
...                ...                                                ...
1369               1.0  Graduation from an accredited four-year colleg...
1370               2.0  Current employment with the City of Los Angele...
1371               1.0  Graduation from an accredited four-year colleg...
1372               2.0  Two years of full-time paid experience supervi...
1373               2.0  Two years of full-time paid experience perform...

[1374 rows x 2 columns]

In [ ]:
#df['JOB_DUTIES'].value_counts()
#df['JOB_DUTIES']=df['JOB_DUTIES'].replace('-',value='A Senior Electrician acts as a lead for and works with a crew of Electricians and helpers engaged in general electrical installation, maintenance, and repair work including motors and lighting, intercom, sound and surveillance systems; keeps records and makes reports. ')
#df['JOB_DUTIES'].value_counts()
#df['REQUIREMENT_SET_TEXT'].value_counts()

Empty DataFrame
Columns: [Unnamed: 0, FILE_NAME, JOB_CLASS_TITLE, JOB_CLASS_NO, REQUIREMENT_SET_ID, REQUIREMENT_SUBSET_ID, JOB_DUTIES, EDUCATION_YEARS, SCHOOL_TYPE, EDUCATION_MAJOR, EXPERIENCE_LENGTH, FULL_TIME_PART_TIME, EXP_JOB_CLASS_TITLE, EXP_JOB_CLASS_ALT_RESP, EXP_JOB_CLASS_FUNCTION, COURSE_COUNT, COURSE_LENGTH, COURSE_SUBJECT, MISC_COURSE_DETAILS, DRIVERS_LICENSE_REQ, DRIV_LIC_TYPE, ADDTL_LIC, EXAM_TYPE, ENTRY_SALARY_GEN, ENTRY_SALARY_DWP, OPEN_DATE, REQUIREMENT_SET_TEXT, REQUIREMENT_SUBSET_TEXT, REQUIREMENT_CONJUNCTION]
Index: []

[0 rows x 29 columns]

In [9]:
df['EXP_JOB_CLASS_FUNCTION']=df['EXP_JOB_CLASS_FUNCTION'].replace('-',value='receiving the appropriate salary bonus ')
df['EXP_JOB_CLASS_FUNCTION'].value_counts()

receiving the appropriate salary bonus                                                                                                                   819
receiving the appropriate salary bonus                                                                                                                     4
experience in .                                                                                                                                            4
experience i                                                                                                                                               3
performing electrical work on equipment and circuits in the maintenance or construction of electrical systems                                              3
                                                                                                                                                        ...
performing electrical work on equipment and circuits in the maintenance or construction of electrical systems while in the United States Armed Forces      1
experience with work in residential and commercial OR residential and industrial electrical installations.                                                 1
experience with work in residential and commercial OR residential and industrial electrical installations                                                  1
experience in the field of electrical engineering with one year full-time paid drafting                                                                    1
performing the duties of a Zoo Registrar.                                                                                                                  1
Name: EXP_JOB_CLASS_FUNCTION, Length: 535, dtype: int64

A concerned parents contacts you to tell them if there is a specific school type that would guaranteed for their child a good future if you can tell, and which is it ?

In [10]:
better_school=['SCHOOL_TYPE','EDUCATION_MAJOR','JOB_DUTIES']
df_best_school=df[better_school]
print(df_best_school)

                     SCHOOL_TYPE   EDUCATION_MAJOR  \
0          college or university       engineering
1          college or university       engineering
2          college or university       engineering
3          college or university       engineering
4     trade school or university       engineering
...                          ...               ...
1369       college or university       engineering
1370       college or university       engineering
1371       college or university  zoology, biology
1372       college or university       engineering
1373       college or university       engineering

                                             JOB_DUTIES
0     A 311 Director is responsible for the successf...
1     A 311 Director is responsible for the successf...
2     A 311 Director is responsible for the successf...
3     An Accountant does professional accounting wor...
4     An Accounting Clerk performs difficult and res...
...                                                 ...
1369  A Zoo Curator of Education plans, develops, im...
1370  A Zoo Curator of Education plans, develops, im...
1371  A Zoo Registrar assists in the development and...
1372  A Zoo Registrar assists in the development and...
1373  A Zoo Registrar assists in the development and...

[1374 rows x 3 columns]

What the best time in the year to be ready for a job applying in any experience level?

In [41]:
#time_period=['OPEN_DATE','EXPERIENCE_LENGTH']
#best_time_for_applying=df[time_period]
df['Year']=df['OPEN_DATE'].dt.year
time_period=['OPEN_DATE','EXPERIENCE_LENGTH','Year']
best_time_for_applying=df[time_period]
print(best_time_for_applying)

      OPEN_DATE EXPERIENCE_LENGTH  Year
0    2014-04-18               1.0  2014
1    2014-04-18               4.0  2014
2    2014-04-18               8.0  2014
3    2018-06-22               2.0  2018
4    2018-07-13               2.0  2018
...         ...               ...   ...
1369 2018-09-14               1.0  2018
1370 2018-09-14               2.0  2018
1371 2018-07-06               1.0  2018
1372 2018-07-06               2.0  2018
1373 2018-07-06               2.0  2018

[1374 rows x 3 columns]

Is experience more important than educational level?

In [12]:
experience_or_education=['SCHOOL_TYPE','EDUCATION_MAJOR','REQUIREMENT_SET_TEXT','EXPERIENCE_LENGTH']
comparision_table=df[experience_or_education]
print(comparision_table)

                     SCHOOL_TYPE   EDUCATION_MAJOR  \
0          college or university       engineering
1          college or university       engineering
2          college or university       engineering
3          college or university       engineering
4     trade school or university       engineering
...                          ...               ...
1369       college or university       engineering
1370       college or university       engineering
1371       college or university  zoology, biology
1372       college or university       engineering
1373       college or university       engineering

                                   REQUIREMENT_SET_TEXT EXPERIENCE_LENGTH
0     One year of full-time paid experience as a Sen...               1.0
1     A Bachelor's degree from a recognized college ...               4.0
2     Eight years of full-time paid experience in a ...               8.0
3     Graduation from an accredited four-year colleg...               2.0
4     Two years of full-time paid office clerical ex...               2.0
...                                                 ...               ...
1369  Graduation from an accredited four-year colleg...               1.0
1370  Current employment with the City of Los Angele...               2.0
1371  Graduation from an accredited four-year colleg...               1.0
1372  Two years of full-time paid experience supervi...               2.0
1373  Two years of full-time paid experience perform...               2.0

[1374 rows x 4 columns]

Which fresh grade job that will guarantee many job offers in the future for him?

In [13]:
df['EXPERIENCE_LENGTH']
best_jobs_fresher=df[df['EXPERIENCE_LENGTH']=='1.0']['EXP_JOB_CLASS_TITLE']
print(best_jobs_fresher)

0                Senior Management Analyst
6                     Management Assistant
8                              Chief Clerk
20                           Airport Guide
34               Airport Police Lieutenant
                       ...
1359                 Professional Engineer
1361             Indemnity Claims Examiner
1365                 Professional Engineer
1369                 Professional Engineer
1371    Assistant Or Associate Zoo Curator
Name: EXP_JOB_CLASS_TITLE, Length: 115, dtype: object

"The City of Los Angeles does not discriminate on the basis of race, religion, national origin, sex, age, marital status, sexual orientation, gender identity, gender expression, disability, creed, color, ancestry, medical condition (cancer), or Acquired Immune Deficiency Syndrome.

AN EQUAL EMPLOYMENT OPPORTUNITY EMPLOYER "

The above statment is qouted from one of the job descriptions.

Based on the jobs requirments column above do you think that LA governate may bais a little for men over women or the applicant marital status for example may effect his chance to gain the job?

In [14]:
df.columns

Index(['Unnamed: 0', 'FILE_NAME', 'JOB_CLASS_TITLE', 'JOB_CLASS_NO',
       'REQUIREMENT_SET_ID', 'REQUIREMENT_SUBSET_ID', 'JOB_DUTIES',
       'EDUCATION_YEARS', 'SCHOOL_TYPE', 'EDUCATION_MAJOR',
       'EXPERIENCE_LENGTH', 'FULL_TIME_PART_TIME', 'EXP_JOB_CLASS_TITLE',
       'EXP_JOB_CLASS_ALT_RESP', 'EXP_JOB_CLASS_FUNCTION', 'COURSE_COUNT',
       'COURSE_LENGTH', 'COURSE_SUBJECT', 'MISC_COURSE_DETAILS',
       'DRIVERS_LICENSE_REQ', 'DRIV_LIC_TYPE', 'ADDTL_LIC', 'EXAM_TYPE',
       'ENTRY_SALARY_GEN', 'ENTRY_SALARY_DWP', 'OPEN_DATE',
       'REQUIREMENT_SET_TEXT', 'REQUIREMENT_SUBSET_TEXT',
       'REQUIREMENT_CONJUNCTION'],
      dtype='object')

In [38]:
JobTYPE=['REQUIREMENT_SET_TEXT','JOB_CLASS_TITLE']
print(df[JobTYPE])

                                   REQUIREMENT_SET_TEXT  \
0     One year of full-time paid experience as a Sen...
1     A Bachelor's degree from a recognized college ...
2     Eight years of full-time paid experience in a ...
3     Graduation from an accredited four-year colleg...
4     Two years of full-time paid office clerical ex...
...                                                 ...
1369  Graduation from an accredited four-year colleg...
1370  Current employment with the City of Los Angele...
1371  Graduation from an accredited four-year colleg...
1372  Two years of full-time paid experience supervi...
1373  Two years of full-time paid experience perform...

               JOB_CLASS_TITLE
0                 311 Director
1                 311 Director
2                 311 Director
3                   Accountant
4             Accounting Clerk
...                        ...
1369  Zoo Curator Of Education
1370  Zoo Curator Of Education
1371             Zoo Registrar
1372             Zoo Registrar
1373             Zoo Registrar

[1374 rows x 2 columns]

In [39]:
df['FILE_NAME'].value_counts()
index_pr=df[df['FILE_NAME']=='The City of Los Angeles does not discriminate on the basis of race, religion, national origin, sex, age, marital status, sexual orientation, gender identity, gender expression, disability, creed, color, ancestry, medical condition (cancer), or Acquired Immune Deficiency Syndrome.AN EQUAL EMPLOYMENT OPPORTUNITY EMPLOYER'].index
print(df.loc[index_pr])

Empty DataFrame
Columns: [Unnamed: 0, FILE_NAME, JOB_CLASS_TITLE, JOB_CLASS_NO, REQUIREMENT_SET_ID, REQUIREMENT_SUBSET_ID, JOB_DUTIES, EDUCATION_YEARS, SCHOOL_TYPE, EDUCATION_MAJOR, EXPERIENCE_LENGTH, FULL_TIME_PART_TIME, EXP_JOB_CLASS_TITLE, EXP_JOB_CLASS_ALT_RESP, EXP_JOB_CLASS_FUNCTION, COURSE_COUNT, COURSE_LENGTH, COURSE_SUBJECT, MISC_COURSE_DETAILS, DRIVERS_LICENSE_REQ, DRIV_LIC_TYPE, ADDTL_LIC, EXAM_TYPE, ENTRY_SALARY_GEN, ENTRY_SALARY_DWP, OPEN_DATE, REQUIREMENT_SET_TEXT, REQUIREMENT_SUBSET_TEXT, REQUIREMENT_CONJUNCTION]
Index: []

[0 rows x 29 columns]