<a href="https://colab.research.google.com/github/A-THAKUR22/AVISOFTAT/blob/main/Assignment18_20_2_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Analisys with Pandas

SF Salaries
Welcome to a quick exercise for you to practice your pandas skills! We will be using the SF Salaries Dataset Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

Q1:What is the average BasePay ?

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('Salaries.csv')
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49725,49726,Crystal DeFrantz,Emp & Training Spec 4,84086.48,0.00,624.01,35661.88,84710.49,120372.37,2012.0,NaN,San Francisco,NaN
49726,49727,Antoinette Wells,Transit Operator,66714.31,13722.09,1549.20,38368.67,81985.60,120354.27,2012.0,NaN,San Francisco,NaN
49727,49728,Robert Rudy,Stationary Engineer,73814.00,15484.85,7035.40,24019.82,96334.25,120354.07,2012.0,NaN,San Francisco,NaN
49728,49729,Sean Kerrisk,Carpenter,78931.55,3516.76,2193.00,35710.67,84641.31,120351.98,2012.0,NaN,San Francisco,NaN
49729,49730,Rachelle Axel,Senior Management Assistant,8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')


# Calculate the average BasePay using numpy
average_base_pay = df['BasePay'].mean()
average_base_pay

75598.46581017495

 What is the highest amount of OvertimePay in the dataset ?

In [ ]:
Highest_overtimepay=df['OvertimePay'].max()
Highest_overtimepay

245131.88

What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

In [ ]:
job = df[df['EmployeeName'] == 'JOSEPH DRISCOLL']
print(job['JobTitle'].iloc[0])

CAPTAIN, FIRE SUPPRESSION

How much does JOSEPH DRISCOLL make (including benefits)?

In [ ]:
condition = df['EmployeeName'] == 'JOSEPH DRISCOLL'
money = df[condition]
print(money['TotalPayBenefits'].values[0])

270324.91

Q5: What is the name of highest paid person (including benefits)?

In [ ]:
HighestPay=df['TotalPayBenefits'].idxmax()
Person_with_highest_pay=df.loc[HighestPay,'EmployeeName']
Person_with_highest_pay

'NATHANIEL FORD'

What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

In [ ]:
LowestPaid=df['TotalPayBenefits'].idxmin()
LowestPaid_person=df.loc[LowestPaid,'EmployeeName']
LowestPaid_person

'PAULETTE ADAMS'

Q7:What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [ ]:
ThreeYearData=df[(df['Year']>=2011) & (df['Year']<=2014)]
AverageBasePay=ThreeYearData.groupby('Year')['BasePay'].mean()
AverageBasePay

Year
2011.0     63595.956517
2012.0    107586.256820
Name: BasePay, dtype: float64

In [ ]:
#ThreeYearData=df['Year'].dropna()
#Filtered_threeyear=ThreeYearData.groupby('Year')
#Average_base_pay=Filtered_threeyear['BasePay'].mean()
#Average_base_pay

Q8: How many unique job titles are there?

In [ ]:
All_jobs=df['JobTitle'].nunique()
All_jobs

1685

Q9:What are the top 5 most common jobs?
A: Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421

In [ ]:
top_5_jobs = df['JobTitle'].value_counts().head(5)
print("Top 5 most common jobs:")
print(top_5_jobs)

Top 5 most common jobs:
TRANSIT OPERATOR    2388
SPECIAL NURSE       1402
REGISTERED NURSE    1219
Registered Nurse     996
CUSTODIAN            796
Name: JobTitle, dtype: int64

Q10:How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [ ]:
Jobs_2013=df[df['Year']==2013]
Jobs_in_2013=Jobs_2013['JobTitle'].value_counts()
num_single_occurrence_jobs = (Jobs_in_2013 == 1).sum()
num_single_occurrence_jobs

0

Q11:How many people have the word Chief in their job title? (This is pretty tricky)

In [ ]:
def chief(title):
  if 'chief' in title.lower():
    return True
  else:
    return False
sum(df['JobTitle'].apply(chief))

317

Bonus: Is there a correlation between length of the Job Title string and Salary?

In [ ]:
df['Titlelen']=df['JobTitle'].apply(len)
df[['Titlelen','TotalPayBenefits']].corr()

                  Titlelen  TotalPayBenefits
Titlelen          1.000000         -0.068236
TotalPayBenefits -0.068236          1.000000