<a href="https://colab.research.google.com/github/A-THAKUR22/AVISOFTAT/blob/main/Assignment8_5_24(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reading from CSV file

In [ ]:
import pandas as pd
import csv
csv_file_name='stocks.csv'
df=pd.read_csv(csv_file_name)
print(df)

    Company Name  Price  Earnings Per Share   Book Value
0       Reliance   1467                  66          653
1     Tata Steel    391                  89          572
2        Infosys    650                  35          147
3      Axis Bank    739                  19          263
4  Bajaj Finance   4044                  69          341

Writing to CSV file writerow()

In [ ]:
import pandas as pd

csv_file_name = 'stocks.csv'
df = pd.read_csv(csv_file_name)

new_row = {'Company Name': 'Tesla', 'Price': 5025, 'Earnings Per Share': 72, 'Book Value': 50}
df = df.append(new_row, ignore_index=True)
df.to_csv(csv_file_name, index=False)
column_to_drop='Book Value'
second='0'
df.drop(column_to_drop,axis=1,inplace=True)
df.drop(second,axis=1,inplace=True)
df=df.drop_duplicates()
print(f"New row has been added to '{csv_file_name}'.")
print(df)

New row has been added to 'stocks.csv'.
    Company Name   Price  Earnings Per Share   Book Value
0       Reliance  1467.0                66.0        653.0
1     Tata Steel   391.0                89.0        572.0
2        Infosys   650.0                35.0        147.0
3      Axis Bank   739.0                19.0        263.0
4  Bajaj Finance  4044.0                69.0        341.0
5            NaN     NaN                 NaN          NaN
9          Tesla  5025.0                72.0          NaN

<ipython-input-20-1f6855aa763e>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

writerows()

In [ ]:
import csv
data=[
    ["This is first row."],
    ["This is second row."],
    ["This is third row ."],
    ["A new row and a new string."],
    ["Final string."]
]

csv_file_name='ThisFile.csv'
with open(csv_file_name,'w',newline='') as csv_file:
  writer=csv.writer(csv_file)
  writer.writerows(data)

print(f"The CSV file {csv_file_name} has been successfully created.")

with open(csv_file_name,'r',newline='') as csv_file:
  reader=csv.reader(csv_file)

  for row in reader:
    print(row)

The CSV file ThisFile.csv has been successfully created.
['This is first row.']
['This is second row.']
['This is third row .']
['A new row and a new string.']
['Final string.']

Min, max and avg score of given score.csv file

In [ ]:
import pandas as pd

csv_file_name = 'scores.csv'
df = pd.read_csv(csv_file_name)
print(df)
minimum=df.min(axis=0)
maximum=df.max(axis=0)
average=df.mean(axis=0)
print(f"Min:{minimum}")
print(f"Max:{maximum}")
print(f"Average:{average}")

     rohit    9
0   shakib   56
1    babar   56
2    rohit  120
3    rohit  105
4   shakib   78
5    rohit  140
6    babar   45
7    rohit  130
8   shakib  102
9    babar  120
10   babar    5
11  shakib   72
12   babar   67
Min:rohit    babar
9            5
dtype: object
Max:rohit    shakib
9           140
dtype: object
Average:9    84.307692
dtype: float64

<ipython-input-23-f8cce4684ed3>:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  average=df.mean(axis=0)

Appending To a File

In [ ]:
import pandas as pd

csv_file_name = 'scores.csv'
df = pd.read_csv(csv_file_name)
new_data = {'Name': ['rohit', 'shakib', 'babar'],
            'Score': [110, 88, 75]}
df=pd.DataFrame(new_data)
df.to_csv(csv_file_name, mode='w', index=False)

print(f"New data has been written to '{csv_file_name}'.")
print(df)

New data has been written to 'scores.csv'.
     Name  Score
0   rohit    110
1  shakib     88
2   babar     75

Writing to a Text

In [ ]:

import pandas as pd

csv_file_name = 'scores.csv'
df = pd.read_csv(csv_file_name)
new_data = {'Name': ['rohit', 'shakib', 'babar'],
            'Score': [110, 88, 75]}
df = pd.read_csv(csv_file_name)


new_data_df = pd.DataFrame(new_data)
df = pd.concat([df, new_data_df], ignore_index=True)
df.to_csv(csv_file_name, index=False)
print(f"New data has been appended and written to '{csv_file_name}'.")
print(df)

New data has been appended and written to 'scores.csv'.
     Name  Score
0   rohit    110
1  shakib     88
2   babar     75
3   rohit    110
4  shakib     88
5   babar     75

Reading data from xml

In [ ]:
import xml.dom.minidom as minidom

doc = minidom.Document()
root = doc.createElement("root")
doc.appendChild(root)

child1 = doc.createElement("child1")
child1.appendChild(doc.createTextNode("This is child1's text"))
root.appendChild(child1)

child2 = doc.createElement("child2")
child2.appendChild(doc.createTextNode("This is child2's text"))
root.appendChild(child2)

subchild = doc.createElement("subchild")
subchild.appendChild(doc.createTextNode("This is subchild's text"))
child2.appendChild(subchild)

with open("example.xml", "w") as file:
    file.write(doc.toprettyxml())

print("XML file 'example.xml' has been created.")
doc = minidom.parse("example.xml")

for node in doc.documentElement.childNodes:
    if node.nodeType == node.ELEMENT_NODE:
        if node.nodeType == node.ELEMENT_NODE:
          tag_name = node.tagName
          text_content = node.firstChild.nodeValue.strip() if node.firstChild else None
          print(f"Tag: {tag_name}, Text: {text_content}")

        # Check for nested elements
        for sub_node in node.childNodes:
            if sub_node.nodeType == sub_node.ELEMENT_NODE:
                sub_tag_name = sub_node.tagName
                sub_text_content = sub_node.firstChild.nodeValue.strip() if sub_node.firstChild else None
                print(f"   Subtag: {sub_tag_name}, Subtext: {sub_text_content}")

XML file 'example.xml' has been created.
Tag: child1, Text: This is child1's text
Tag: child2, Text: This is child2's text
   Subtag: subchild, Subtext: This is subchild's text

Reading xml file using data as a variable

In [ ]:
doc = minidom.parse("example.xml")

# Get the XML content as a string
data = doc.toxml()
print(data)

<?xml version="1.0" ?><root>
	<child1>This is child1's text</child1>
	<child2>
		This is child2's text
		<subchild>This is subchild's text</subchild>
	</child2>
</root>

Writing List to Files in Python
Using write()
Using writelines()
Using String Join Along with “with open” syntax

In [ ]:
import csv
data=[
    ["This is first row."],
    ["This is second row."],
    ["This is third row ."],
    ["A new row and a new string."],
    ["Final string."]
]

csv_file_name='NewFile.csv'
data_list = ["Line 1", "Line 2", "Line 3"]
with open(csv_file_name,"w") as csv_file:
  for line in data_list:
    csv_file.write(line + "\n")
print("List has been written to 'NewFile.txt'.")

data_list2 = ["Line 1", "Line 2", "Line 3","New","One"]

with open(csv_file_name, "w") as file:
    file.writelines(line + "\n" for line in data_list2)

print("List2 has been written to 'NewFile.txt'.")

data_list3 = ["Line 4", "Line 5", "Line 6"]

with open("example.txt", "w") as file:
    file.write("\n".join(data_list3))

print("List3 has been written to 'NewFile.txt'.")

List has been written to 'NewFile.txt'.
List2 has been written to 'NewFile.txt'.
List3 has been written to 'NewFile.txt'.

From poem.txtfind out words with maximum occurance

In [ ]:
import pandas as pd
file_path='poem.txt'
df=pd.read_csv(file_path, delimiter='\t', names=['Text'])
tokens=df['Text'].str.lower().str.split()
flat_tokens=[word for sublist in tokens for word in sublist]
word_counts = pd.Series(flat_tokens).value_counts()
maximum=word_counts.max()
max_word=word_counts.idxmax()
print(maximum)

print(max_word)

9
and

Creating Output.csv

In [17]:
import pandas as pd
csv_file_name='stocks.csv'
df=pd.read_csv(csv_file_name)
print(df)
df.isnull().sum()
df['PE Ratio']=df['Price']//df['Earnings Per Share']
df['PB Ratio']=df['Price']//df[' Book Value']
output_df = df[['Company Name', 'PE Ratio', 'PB Ratio']]
file_name='Output.csv'
output_df.to_csv(file_name,index=False)
output_df = output_df.drop_duplicates()
output_df = output_df.dropna()
print(output_df)

    Company Name  Price  Earnings Per Share   Book Value
0       Reliance   1467                  66          653
1     Tata Steel    391                  89          572
2        Infosys    650                  35          147
3      Axis Bank    739                  19          263
4  Bajaj Finance   4044                  69          341
    Company Name  PE Ratio  PB Ratio
0       Reliance        22         2
1     Tata Steel         4         0
2        Infosys        18         4
3      Axis Bank        38         2
4  Bajaj Finance        58        11