<a href="https://colab.research.google.com/github/A-THAKUR22/AVISOFTAT/blob/main/Assignment6(2_24).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to display the namespace of the class

In [ ]:

class first:
  def __init__(self,name):
    self.name=input("Enter the name of person:")
  def show(self):
    print(f"My name is {self.name}.")
n=first("Sample")
n.show()
class_namespace=first.__dict__

print(class_namespace)

Enter the name of person:deepak
My name is deepak.
{'__module__': '__main__', '__init__': <function first.__init__ at 0x79941591b6d0>, 'show': <function first.show at 0x79941591b910>, '__dict__': <attribute '__dict__' of 'first' objects>, '__weakref__': <attribute '__weakref__' of 'first' objects>, '__doc__': None}

In [ ]:
dir(first)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'show']

In [ ]:
first.__module__

'__main__'

Program to cretae instance of class and displaying its namespace

In [ ]:
class first:
  def __init__(self,name):
    self.name=input("Enter the name of person:")
  def show(self):
    print(f"My name is {self.name}.")
n=first("Sample")
n.show()

instance_namespace=n.__dict__

print(instance_namespace)

Enter the name of person:Jon
My name is Jon.
{'name': 'Jon'}

Prigram to creta two empty classes and checking their corresponding instances belonging to the class and checking the classes being subclasses of class object

In [ ]:
class Student:
  pass
class Marks:
  pass
a=Student()
b=Marks()
first_inamespace=a.__dict__
second_inamespace=b.__dict__
if isinstance(a,Student) and issubclass(Student,object):
  print(True)
else:
  print(False)
if isinstance(b,Marks) and issubclass(Marks,object):
  print("1")
else:
  print("Nope")

True
1

Passing attributes to class and dsiplaying the attribute and the values of the class

In [ ]:
class Student:
  def __init__(self,student_id,student_name):
    self.student_id=student_id
    self.student_name=student_name
s=Student("1234","Jim")
print("Before")
instance_name=s.__dict__
print(instance_name)

s.student_class="12th"
print("After")
print(instance_name)

del s.student_name
print(instance_name)

Before
{'student_id': '1234', 'student_name': 'Jim'}
After
{'student_id': '1234', 'student_name': 'Jim', 'student_class': '12th'}
{'student_id': '1234', 'student_class': '12th'}

Check validity of string

In [ ]:
class Paranthesis:
  def __init__(self):
    self.string1=input("Enter the string of ():")
    self.opening={"(","[","{"}
    self.closing={')':'(', ']':'[', '}':'{'}

  def isvalid(self):
    items=[]
    for char in self.string1:
      if char in self.opening:
        items.append(char)
      elif char in self.closing:
        if not items or items.pop() != self.closing[char]:
          return False
        else:
          continue
    return not items


p=Paranthesis()
p.isvalid()

Enter the string of ():(())

True

Employee class

In [ ]:
class Employee:
  def __init__(self,emp_id,emp_name,emp_salary,emp_department):
    self.emp_id=emp_id
    self.emp_name=emp_name
    self.emp_salary=emp_salary
    self.emp_department=emp_department

  def calculate_emp_salary(self,hours_worked):

    if hours_worked>50:
      overtime=hours_worked-50
      Overtime_amount=(overtime*(self.emp_salary/50))
      self.emp_salary+=Overtime_amount
    print(f"The salary for overtime is {self.emp_salary}\n")


  def assign_department(self,new_department):

    self.emp_department=new_department
    return self.print_employee_details()

  def print_employee_details(self):
    print(f"Name:{self.emp_name}")
    print(f"ID:{self.emp_id}")
    print(f"Salary:{self.emp_salary}")
    print(f"Department:{self.emp_department}\n")


e1=Employee("ADAMS","E7876",50000,"ACCOUNTING")
e2=Employee("JONES","E7499",45000,"RESEARCH")
e3=Employee("MARTIN","E7900",50000,"SALES")
e4=Employee("SMITH","E7698",55000,"OPERATIONS")

e1.print_employee_details()
e2.print_employee_details()
e3.print_employee_details()
e4.print_employee_details()

e1.calculate_emp_salary(50)
e2.calculate_emp_salary(90)

e3.assign_department("HR")

Name:E7876
ID:ADAMS
Salary:50000
Department:ACCOUNTING

Name:E7499
ID:JONES
Salary:45000
Department:RESEARCH

Name:E7900
ID:MARTIN
Salary:50000
Department:SALES

Name:E7698
ID:SMITH
Salary:55000
Department:OPERATIONS

The salary for overtime is 50000

The salary for overtime is 81000.0

Name:E7900
ID:MARTIN
Salary:50000
Department:HR

Class Restaurant

In [ ]:
class Restaurant:
  def __init__(self):
    self.menu_items=[]
    self.book_table={key: False for key in range(1,20)}
    self.customer_order=[]
  def add_item_to_menu(self):
    food_number=int(input("Enter the number of food items in:"))
    the_menu={}
    for i in range(food_number):
      food=input(f"Enter the food {i+1}:")
      self.menu_items.append(food)
    for index,value in enumerate(self.menu_items):
      the_menu[f'Item {index+1}']=value
    print(the_menu)

  def book_tables(self,table_number,reservation_status):
    if table_number in self.book_table:
      if self.book_table[table_number]==False:
        self.book_table[table_number]=reservation_status
        print("Table Booked")
      else:
        print("Table not available.")
    else:
      print("Make a valid choice!")
    print(self.book_table)

  def customer_orders(self):
    orders=int(input("Enter number of customer orders:"))
    the_order={}
    for j in range(orders):
      F_order=input(f"Enter the order number {j+1}:")
      self.customer_order.append(F_order)
    for index,value in enumerate(self.customer_order):
      the_order[f'Order {index+1}']=value
    print(the_order)




r=Restaurant()
r.add_item_to_menu()
r.customer_orders()
r.book_tables(1,True)
r.book_tables(3,True)
r.book_tables(5,False)

Enter the number of food items in:4
Enter the food 1:Rice
Enter the food 2:Paneer
Enter the food 3:Fish
Enter the food 4:Pizza
{'Item 1': 'Rice', 'Item 2': 'Paneer', 'Item 3': 'Fish', 'Item 4': 'Pizza'}
Enter number of customer orders:1
Enter the order number 1:Fish
{'Order 1': 'Fish'}
Table Booked
{1: True, 2: False, 3: False, 4: False, 5: False, 6: False, 7: False, 8: False, 9: False, 10: False, 11: False, 12: False, 13: False, 14: False, 15: False, 16: False, 17: False, 18: False, 19: False}
Table Booked
{1: True, 2: False, 3: True, 4: False, 5: False, 6: False, 7: False, 8: False, 9: False, 10: False, 11: False, 12: False, 13: False, 14: False, 15: False, 16: False, 17: False, 18: False, 19: False}
Table Booked
{1: True, 2: False, 3: True, 4: False, 5: False, 6: False, 7: False, 8: False, 9: False, 10: False, 11: False, 12: False, 13: False, 14: False, 15: False, 16: False, 17: False, 18: False, 19: False}

if any(value1 == value2 for value1 in self.the_menu.values() for value2 in the_order.values()):
      print("Order is available")
    else:
      print("Item Out of STOCK!!")